<app-modal-header title="Add Teacher" (dismiss)="dismissModal()"></app-modal-header>
<ion-content class="ion-padding ion-text-center">

  <div class="custom-slides">
    <div class="slide" data-slide="0">
      <div class="details">

        <div class="profile-avatar">
          <div class="picture">
            <ion-avatar class="ion-text-center">
              <ion-icon color="medium" name="person-add"></ion-icon>
            </ion-avatar>
          </div>
        </div>
        <br>

        <ion-text class="ion-text-left"><h4>Fill teacher details</h4></ion-text>
        <form class="details-form" [formGroup]="formGroup">
          <mat-form-field class="field-form" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput type="text" formControlName="firstName" autocomplete="off" (input)="onInputChange()">
            <mat-error *ngIf="formGroup.get('firstName').hasError('required')">First name is <strong>required</strong></mat-error>
            <mat-error *ngIf="formGroup.get('firstName').hasError('maxlength')">Cannot exceed 50 characters</mat-error>
          </mat-form-field>
          <mat-form-field class="field-form" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" formControlName="lastName" autocomplete="off" (input)="onInputChange()">
            <mat-error *ngIf="formGroup.get('lastName').hasError('required')">Last name is <strong>required</strong></mat-error>
            <mat-error *ngIf="formGroup.get('lastName').hasError('maxlength')">Cannot exceed 50 characters</mat-error>
          </mat-form-field>
          <mat-form-field class="field-form" appearance="outline">
            <mat-label>Other Names</mat-label>
            <input matInput type="text" formControlName="otherNames" autocomplete="off" (input)="onInputChange()">
            <mat-error *ngIf="formGroup.get('otherNames').hasError('maxlength')">Cannot exceed 50 characters</mat-error>
          </mat-form-field>
          <mat-form-field class="field-form" appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" (selectionChange)="onInputChange()">
              <mat-option>None</mat-option>
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
              <mat-option value="custom">Rather not say</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="field-form" appearance="outline">
            <mat-label>Class</mat-label>
            <mat-select multiple formControlName="class" (selectionChange)="onInputChange()">
              <mat-option (click)="classNoneClick()" #classNone>None</mat-option>
              <mat-optgroup *ngFor="let class of selectClasses" [label]="class.label">
                <mat-option #classOpts (click)="classOptClick()" *ngFor="let branch of class.options" [value]="branch.value">{{ branch.text }}</mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="field-form" appearance="outline">
            <mat-label>Course</mat-label>
            <mat-select multiple formControlName="course" (selectionChange)="onInputChange()">
              <mat-option (click)="courseNoneClick()"  #courseNone>None</mat-option>
              <mat-option #courseOpts (click)="courseOptClick()" *ngFor="let course of selectCoures" [value]="course.value">{{ course.text }}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="field-form" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" formControlName="email" autocomplete="off" (input)="onInputChange()">
            <mat-error *ngIf="formGroup.get('email').hasError('email')">Enter a valid email</mat-error>
            <mat-error *ngIf="formGroup.get('email').hasError('maxlength')">Cannot exceed 50 characters</mat-error>
          </mat-form-field>
          <mat-form-field class="field-form" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput [type]="'number'" formControlName="phoneNumber" autocomplete="off" (input)="onInputChange()" (keydown)="phoneNumberKeyDown($event)">
            <mat-error *ngIf="formGroup.get('phoneNumber').hasError('maxlength')">Cannot exceed 50 characters</mat-error>
            <mat-error *ngIf="formGroup.get('phoneNumber').hasError('negative')">Phone number format is incorrect</mat-error>
          </mat-form-field>
          <mat-form-field class="field-form" appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob" autocomplete="off" (dateInput)="onDateChange()">
            <mat-datepicker-toggle  datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [touchUi]="mobileQuery.matches"></mat-datepicker>
            <mat-error *ngIf="formGroup.get('dob').hasError('maxlength')">Cannot exceed 50 characters</mat-error>
            <mat-error *ngIf="formGroup.get('dob').hasError('matDatepickerParse')">Date format is <strong>incorrect</strong></mat-error>
          </mat-form-field>

          <div class="btn-container ion-padding">
            <ion-button #addBtn expand="block" (click)="uploadDetails()" [disabled]="formGroup.invalid">
              <ion-spinner *ngIf="isVerifying" name="crescent"></ion-spinner>
              <ion-text *ngIf="!isVerifying">Continue</ion-text>
            </ion-button>
          </div>
        </form>
      </div>
    </div>
    <div class="slide" data-slide="1">
      <ion-text><h4>Add a picture</h4></ion-text>
      <br>
      <app-view-profile-pic #profile (changes)="onPictureChange($event)" [imgSrc]=""></app-view-profile-pic>

      <br><br>

      <div class="double-btn">
        <div class="btn-container">
          <ion-button [disabled]="!hasImg" expand="block" (click)="uploadPicture()">
            <ion-spinner *ngIf="isUploadingImage" name="crescent"></ion-spinner>
            <ion-text *ngIf="!isUploadingImage">Finish</ion-text>
          </ion-button>
        </div>
        <div class="btn-container">
          <ion-button class="outline" fill="outline" expand="block" (click)="skipUploadPicture()">Skip</ion-button>
        </div>


      </div>

    </div>
  </div>
    
</ion-content>