<app-modal-header title="Edit Payments" (dismiss)="dismissModal()"></app-modal-header>

<ion-content class="ion-padding ion-text-center main-content">
  <form class="details-form" [formGroup]="formGroup">

    <mat-form-field class="field-form" appearance="outline">
      <mat-label>Term</mat-label>
      <mat-select formControlName="term" (selectionChange)="onInputChange()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let branch of selectTerms" [value]="branch.value">{{ branch.text }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="field-form" appearance="outline">
      <mat-label>Class</mat-label>
      <mat-select formControlName="class" (selectionChange)="onInputChange()">
        <mat-option>None</mat-option>
        <mat-optgroup *ngFor="let class of selectClasses" [label]="class.label">
          <mat-option *ngFor="let branch of class.options" [value]="branch.value">{{ branch.text }}</mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    
  </form>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" class="ion-text-left">
        
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" style="padding: 0; width: 10px;">
        <button mat-icon-button matSuffix (click)="edit(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="fees">
      <th mat-header-cell *matHeaderCellDef> Fees </th>
      <td mat-cell *matCellDef="let element"> {{ element.fees }} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let element"> {{ element.amount }} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>

  <ion-fab cdkDrag cdkDragBoundary=".main-content" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="custom-secondary" (click)="add()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>