<app-modal-header title="Edit Payments" (dismiss)="dismissModal()"></app-modal-header>

<ion-content class="ion-padding main-content">  
  <app-view-profile-pic [imgSrc]="DP" [canView]="false" [showEditBtn]="false"></app-view-profile-pic>
  <br>
  <div class="divider"></div>
  <br>

  <ion-text *ngIf="showError"><h5 class="ion-padding ion-text-center">{{ errMessage }}</h5></ion-text>
  <div *ngIf="isLoading" class="ion-padding ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <form class="details-form" *ngIf="!showError && !isLoading">

    <ion-text class="ion-text-left ion-margin-bottom"><h5>Edit payment details</h5></ion-text>
    <mat-form-field class="field-form" appearance="outline">
      <mat-label>Student</mat-label>
      <input matInput type="text" readonly autocomplete="off" [value]="studentFullName">
    </mat-form-field>
    
    <div *ngFor="let input of details">
      <ion-text class="ion-text-left" *ngIf="input.hasHeader"><h4>{{ input.headerTitle }}</h4></ion-text>
      <app-edit-details-input
      [label]="input.label" 
      [model]="input.model"
      [type]="input.type"
      [icon]="input.icon"
      [validators]="input.valiators"
      [directives]="input.directives"
      [maxLength]="input.maxLength"
      [noEdit]="input.noEdit"
      [selectMultiple]="input.selectMultiple"
      [selectOptions]="input.selectOptions"
      [multipleSelectOptions]="input.multipleSelectOptions"
      [updateInput]="input.updateInput"
      (onChangeEvent)="input.inputChange($event)"
      ></app-edit-details-input>
      <br><br>
    </div>

    <div class="btn-container ion-padding">
      <ion-button expand="block" (click)="showDeleteAlert()" [disabled]="showError">
        <ion-spinner *ngIf="isDeleting" name="crescent"></ion-spinner>
        <ion-text *ngIf="!isDeleting">Delete</ion-text>
      </ion-button>
    </div>
  </form>

</ion-content>