.card{
  height: 100px;
  min-width: 200px;
  width: 200px;
  border-radius: 15px;
  background-color: var(--ion-color-light);
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  // border: 1px solid #a9aaad;
  // box-shadow: 0px 10px 10px rgba($color: #000000, $alpha: 0.2), 0px 0px 50px rgba($color: #000000, $alpha: 0.2);
}

.grey-area{
  background-color: var(--ion-color-light);
}

.student-details{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.picture{
  // position: absolute;
  // top: 50%;
  // left: 10px;
  // transform: translateY(-50%);

  .avatar{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background-color: #a9aaad;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0;

    ion-icon{
      font-size: 20px;
      color: #f4f5f8
    }
  }
}

.text-details{
  .title{
    font-size: 13px;
  }
  .note{
    font-size: 10px;
  }
}

.graph-area{
  width: 100%;
  height: 320px;
  overflow-x: auto;
}

.other-details{
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.other {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-right: 1%;

  .text p{
    display: inline-block;
    font-size: 15px;
    
    &:nth-child(even) {
      float: right;
    }
  }
}

.gender-details{
  width: 100%;
  margin-left: 1%;
  display: inline-block;
  height: auto;
  padding: 10px;
}

.notification-area{
  width: 100%;
  height: 100vh;
  overflow-y: auto; 
}